<p>This is index</p>
{{#if authenticated}}
<form action="/p/add" class="postForm">
  Date:<input type="text" name="date"/>
  Content:<input type="text" name="content"/>
  <input type="submit" value="Send" />
</form>

{{#each feed}}
  {{#each posts}}
    <div class="post well">
        <p>{{date}} by <a href="/u/{{../username}}">{{../username}}</a></p>
        {{#each elements}}
        {{{content}}}
        {{/each}}
    </div>
  {{/each}}
{{/each}}

{{/if}}
