<h1>{{title}}</h1>
<p>and Hello {{name}}</p>
<form action="/p/add" id="postForm">
  <input type="text" name="date"/>
  <input type="text" name="content"/>
  <input type="submit" value="Send" />
</form>
