<h2>Log of {{user_log.username}}</h2>
{{#each user_log.posts}}
<div class="post">
    <p>{{date}} by {{../user_log.username}}</p>
    {{#each elements}}
    {{{content}}}
    {{/each}}
</div>
{{/each}}
<form action="/p/add" class="postForm">
  <input type="text" name="date"/>
  <input type="text" name="content"/>
  <input type="submit" value="Send" />
</form>
